.App {
  text-align: center;
  display: grid;
  background-color: rgb(6, 101, 104);
}

.profileImg {
  width: 80%;
  height: 80%;
}

.mySocialIcons {
  display: flex;
  justify-content: space-evenly;
}
.myFooter {
  height: 100px;
  width: 90%;
}
